

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}


.dashboard-container {
  @include flex(column, center, center);
  margin: 0 auto;
  margin-top: 2em;
  height: 100%;
  overflow-y: scroll;
}

