
  $Gainsboro: #DFDFDF;
  $HRcolor: #505050;

  @mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
  }

.nav-wrapper {
    @include flex(column, flex-start, flex-start);
    max-width: 12em;
    width: 100%;
    height: 100vh;
    padding: 1rem;
    position: fixed;
    overflow-y: auto;
    top: 0;
    z-index: 100;
    background-color: #fff;
    box-shadow: -5px 20px 18px rgba(0, 0, 0, 0.5);
}

.sidebar-column {
    @include flex(column, space-between, flex-start);
}

.container {
    @include flex(column, flex-start, flex-start);
}

.brand-logo {
    @include flex(column, flex-start, flex-start);
    margin-top: 2em;
    img {
        width: 7em;
    }
}

.right {
    @include flex(column, flex-start, flex-start);
    height: fit-content;
    width: 100%;
    li {
        margin: 2em 0;
    }
    .tab {
        margin: 0;
    }
}

.avatar-h4 {
    font-weight: 400;
}