
  $Gainsboro: #DFDFDF;
  $HRcolor: #505050;

  @mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
  }

.nav-wrapper {
    @include flex(column, flex-start, flex-start);
    width: fit-content;
    max-width: 22em;
    height: 100vh;
    max-height: fit-content;
    padding: 1rem;
    // position: fixed;
    // overflow-y: auto;
    // top: 0;
    // z-index: 100;
}

.container {
    @include flex(column, flex-start, flex-start);
}

.brand-logo {
    @include flex(column, flex-start, flex-start);
}