

  @mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
  }

.notification-container {
    font-family: inherit;
    h3 {
        margin-top: 0;
        font-weight: 400;
    }
    ul {
        font-weight: 200;
    }
}