@use "./variables/variables";

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

.left-side {
    width: 50%;
    height: 100%;
    border-radius: 40px 0 0 40px;
    background-color: variables.$primaryColor;
}
.right-side {
    @include flex(column, center, center);
    width: 50%;
    height: 100%;
}
form {
  @include flex(column, center, center);
  padding: 20px;
  opacity: 1;
  border: none;
  outline: none;
  border-radius: 9px;
}

.input-container {
  @include flex(column, flex-start, flex-start);
  width: 80%;
  padding: 1em 0;
  margin: 2em 0 0 0;
  margin-top: 1.4em;
}
.input-field {
  @include flex(column, flex-start, flex-start);
  margin-bottom: 1em;
  width: 100%;
  label {
    font-size: 1.1em;
    letter-spacing: 1.2px;
    margin-bottom: 0.3em;
    font-weight: 500;
  }
  input {
    width: 95%;
    border: none;
    outline: none;
    background-color: variables.$secondaryColor;
    border-radius: variables.$borderRadius;
    font-family: inherit;
    font-size: 0.9em;
    padding: 0.5em;
    &:focus,
    &:active {
      outline: 1.6px solid variables.$primaryColor;
    }
  }
}

.auth-nav-link {
    color: variables.$primaryColor;
    text-decoration: underline;
    padding-left: 0.4em;
}
.auth-button {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  box-sizing: border-box;
  letter-spacing: 0.02857em;
  min-width: 64px;
  font-family: variables.$fontFamily;
  font-size: 1em;
  font-weight: 600;
  width: 100%;
  text-transform: uppercase;
  cursor: pointer;
  color: variables.$primaryColor;
  background-color: variables.$secondaryColor;
  outline: none;
  margin: 0.6em 0;
  padding: 0.5em 0.7em;
  border-radius: 4px;
  border: 2px solid variables.$primaryColor;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  &:hover {
    background-color: #d0d8f1;
    box-shadow: -1px 3px 8px 0px rgba(56, 56, 56, 0.91);
  }
}

.red-warning {
    padding: 0.3em;
    color: variables.$warning;
    font-weight: 600;
  }