@import "./dashboard";
@import "./notification";
@import "./navbar";
@import "./sidepanel";
@import "./signUp";
@import "./signIn";
@import "./projectSummary";


@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

.App {
  @include flex(row, flex-start, flex-start);
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}
ul {
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
  margin: 0;
}

.feed-section {
  @include flex(row, center, center);
  margin: 0 auto;
  width: 60vw;
}

.auth-section {
  @include flex(row, center, center);
  margin: 5% auto;
  height: 80vh;
  width: 80vw;
  border-radius: 40px;
  box-shadow: -1px 3px 8px 0px rgba(56, 56, 56, 0.91);
}

.css-blneid-MuiAutocomplete-root .MuiOutlinedInput-root {
  padding: 0 !important;
  padding-left: 0.5em !important;
}

.css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root {
  font-family: 'Noto Sans', sans-serif !important;
}
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  font-family: 'Noto Sans', sans-serif !important;
  font-weight: 400 !important;
  top: -8px !important;

  &:focus {
    color: #131E3F !important;
  }
}