
@import "./dashboard";
@import "./notification";
@import "./navbar";
@import "./signUp";
@import "./signIn";
@import "./projectSummary";

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
  }

.App {
    @include flex(row, flex-start, flex-start);
    width: 100vw;
    height: 100vh;
}
ul {
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}

  
  // form {
  //   padding: 20px;
  //   margin-top: 60px;
  //   margin-left: 15%;
  //   margin-right: 15%;
  //   opacity: 0.89;
  //   border: 2px solid black;
  //   border-radius: 9px;
  // }
  
  // form button,
  // form h5 {
  //   margin: 20px 0;
  // }
  
  // form button {
  //   border-radius: 10px;
  // }