@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,500&display=swap");

/* ####### Custom scroll bar settings ####### */
* {
  scrollbar-width: thin !important;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent !important;
}
*::-webkit-scrollbar {
  width: 0px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  background: #eee;
  background-size: 100%;
  min-height: 100%;
}

.card-layout {
  border: none;
  border-radius: 15px;
}
.card-layout:hover,
.card-layout:focus {
  box-shadow: -5px 20px 18px rgba(0, 0, 0, 0.3) !important;
  transform: translateY(-0.25em);
  border-color: black;
}

form {
  padding: 20px;
  margin-top: 60px;
  margin-left: 15%;
  margin-right: 15%;
  opacity: 0.89;
  border: 2px solid black;
  border-radius: 9px;
}

form button,
form h5 {
  margin: 20px 0;
}

form button {
  border-radius: 10px !important;
}

input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #ff6f00;
  box-shadow: none;
}

input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type="email"]:not(.browser-default):focus:not([readonly]) + label,
input[type="password"]:not(.browser-default):focus:not([readonly]) + label {
  color: #ff6f00 !important;
}
